.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
.optionContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.statisticsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}